%h1 Listing products

%table.tab-width
  %thead
    %tr
      %th Product name
      %th Product description
      %th Product price
      %th Add to cart

  %tbody
    - @products.each do |product|
      %tr
        %td= product.product_name
        %td= product.product_description
        %td= product.product_price
        %td= link_to 'Add To Cart', add_to_cart_user_carts_path(:product => product, :user =>current_user), :method =>:get, class: "btn btn-info btn-xs"